/* body {
    background-color: lightgray;
} */


@import "toastr";

.heading-container {
    display: flex;
    align-items: center;
  }

  .heading-container h2 {
    margin-right: 10px; /* Adjust the value to control the margin between the h2 and the spinner */
  }

/* Add this CSS to your stylesheet or <style> tag */
.new-label {
    background-color: #007bff;
    color: #fff;
    padding: 3px 6px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    border-radius: 3px;
  }

  .not-allowed {
    cursor: not-allowed;
    opacity: 0.5;
}

.rating-box {
  padding: 0.75rem;
  border: 1px solid rgba(148,151,155,0.2);
  border-radius: 4px;
  height: 70px;
  width: 150px;
  display: inline-block;
}

.rating-label {
  margin-right: 0.7rem;
  margin-bottom: 0.6rem;
  user-select: none;
  font-size: 0.8rem;
}

.star-rating {
  display: inline-block;
  font-size: 15px;
}

.submit_star {
  margin: 0 !important;
}

@keyframes flashBorder {
  0%, 100% {
    border-color: white;
  }
  50% {
    border-color: red;
  }
}

.flashing-border {
  border: 2px solid white;
  padding: 10px;
  font-family: sans-serif;;
  animation: flashBorder 2s infinite;
}
  