{% extends 'base.html.twig' %}
{% block title %}Edit {{ article.title }}
{% endblock %}

{% block body %}
<h1>Edit article</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="mt-3 btn btn-success" type="submit">Edit</button>
{{ form_end(form) }}
{% endblock %}